<div class="container">
  <hr>
  <div class="row">
    <div class="header col-xs-12">
      <h1>Xchange Currency Converter</h1>
      <p>Tom's test project for FreeAgent</p>
    </div>
  </div>
  <hr>
  <div class="row intro">
    <p>This application uses exchange data from the <a href="http://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml" target="blank" title="click here to view the raw exchange data">European Central Bank</a>. The ECB update this data once every weekday, so you can get the exchange rates for all the dates listed in the drop-down box below.</p>
  </div>
  <div class="row">
    <div class="form col-xs-12">
      <%= form_for :exchanges, url: exchanges_path do |f| %>
          <div class="date">
            <%= f.label :select_a_date %>
            <%= f.select(:date, $dates) %>
          </div>

          <p class="amount">
            <%= f.label :amount %><br>
            <%= f.text_field :amount %>
          </p>

          <h5 class="amount_error"><%= @amount_error %></h5>

          <div class="from">
            <%= f.label :from %>
            <%= f.select(:from_curr, $currencies) %>
          </div>

          <div class="to">
            <%= f.label :to %>
            <%= f.select(:to_curr, $currencies) %>
          </div>

          <p>
            <%= f.submit :convert %>
          </p>
      <% end %>
    </div>
  </div>
</div>