<div class="container">
  <hr>
  <div class="row">
    <div class="header col-xs-12">
      <h1><%= link_to 'Xchange Currency Converter', exchanges_path %></h1>
      <p>Tom's test project for FreeAgent</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 result">
      <h2><strong class="curr"><%= @amount %> <%= @from_curr %></strong></h2>
    </div>
    <div class="col-md-4 result">
      <h2><em>is equal to </em></h2>
    </div>
    <div class="col-md-4 result">
      <h2><strong class="curr"><%= @value %> <%= @to_curr %></strong></h2>
    </div>
  </div>

  <div class="row">
    <div style="text-align: center;" class="col-md-6 currency_name">
      <h5>
        <%= @from_curr %> = <%= @currency_names[@from_curr] %>
      </h5>
    </div>

    <div style="text-align: center;" class="col-md-6 currency_name">
      <h5>
        <%= @to_curr %> = <%= @currency_names[@to_curr] %>
      </h5>
    </div>
  </div>

  <hr>

  <div class="row">    
    <div style="text-align: center;" class="col-xs-12 currency_name">
      <h5>
        This is the exchange rate for the date you selected (<%= @date %>). A list of all the available currencies for that date is shown below.
      </h5>
    </div>
  </div>

  <div class="row">
    <div style="text-align: center;" class="col-lg-12 rates_table">
      <h5>
        <table>
          <tr>
            <th>Currency</th>
            <th>Rate</th>
            <th colspan="2"></th>
          </tr>

          <% @rates.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
          <% end %>
        </table>        
      </h5>
    </div>
  </div>

</div>