/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    color:#730E15;
}
body {
    font-family: 'Raleway', Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin-top: 30px;
}
hr {
    color: #730E15;
    border-style: solid;
    border-width: 1px;
}
.form {
    text-align: left;
    position: flex;
    box-sizing: border-box;
    padding-left: 24%;
}
.header {
    text-align: center;
    padding: 30px 0 30px 0
}
input[type=text], input[type=password] {
    width: 250px;
    padding: 10px 10px;
    margin-top: 2px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-sizing: border-box;
}
.to, .from {
    padding: 0 0 20px 15px;
    display: inline-block;
    width: inherit;
}
.date, .amount {
    width: 250px;
    margin-top: 15px;
}
.intro {
    text-align: justify;
    margin: 0 10% 0 10%;
}
.curr {
    font-family: Arial, sans-serif;
}
select {
    width: inherit;
    padding: 6px 6px;
    margin-top: 2px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 250px;
    background-color: darkgreen;
    color: white;
    padding: 7px 7px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.drop_downs {
    font-weight: bold;
}
.result {
    text-align: center
}
.sub-title {
    text-align: center;
    padding-top: 35px;
}
.curr {
    color: darkgreen;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
#error_explanation {
    color: #B00100;
}
table, th, td {
    text-align: center;
}
td {
    margin: 0 10px 0 10px;
}
th {
    padding-bottom: 15px;
}
table {
    width: 45%;
}
.col-md-6 .currency_name {
    text-align: center;
}
.amount_error {
    color: red;
    text-align: left;
}
.rates_table {
    text-align: center;
    position: flex;
    left: 25%;
}

/*@media (min-width: 400px){
    .result {
        width: 350px;
    }
}*/
